@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


body {
    background-image: url("img/wood-bg.jpg");

}

.heading-container {
    text-align: center;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: burlywood;
    border-radius: 10%;
}

.btn-container {
    display: grid;
    padding-left: 50px;
}

input, button {
    padding: 5px;
    margin: 2px;
}

#color-input-value {
    justify-self: center;
}

#grid-space {
    display: inline-grid;
    padding: 10px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
}

